<div class="relative w-full h-full">
  <div class="h-full">
    <div class="h-64 bg-zinc-800 mx-2 mb-4 px-4 pt-2 overflow-scroll" >
      <p *ngFor="let message of messages">{{ message.message }}</p>
    </div>
  </div>
  <div class="absolute bottom-0 left-0 w-full pb-8">
    <form (submit)="sendMessage(content.value, $event)" class="w-full lg:mx-auto lg:max-w-2xl">
      <div class="flex w-full lg:mx-auto justify-between">
        <div class="relative flex-auto w-64">
          <label for="chatInput" class="absolute -top-2 left-2 inline-block bg-neutral-700 px-1 text-xs font-medium text-slate-100">Chat</label>
          <input type="text" name="chatInput" id="chatInput" class=" w-full rounded-md border-0 py-1.5 text-slate-100 bg-neutral-700 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Type Something..." #content required>
        </div>
        <app-button class="flex-auto w-32 send-button" [text]="buttonText" [svgPath]="svgPath" (click)="sendMessage(content.value, $event)"></app-button>

      </div>
    </form>
  </div>
</div>

